In [100]:
import warnings
warnings.simplefilter('ignore')

In [101]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [102]:
df = pd.read_csv('hiring.csv')
df.head()

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000

In [103]:
df.isna().sum()

experience         2
test_score         1
interview_score    0
salary             0
dtype: int64

In [104]:
df['experience'].fillna(0, inplace = True)

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   experience       8 non-null      object
 1   test_score       8 non-null      float64
 2   interview_score  8 non-null      int64
 3   salary           8 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 384.0+ bytes

In [109]:
df['test_score'].fillna(df['test_score'].mean(), inplace=True)

In [110]:
df.isna().sum()

experience         0
test_score         0
interview_score    0
salary             0
dtype: int64

In [111]:
X = df.iloc[:,:-1]
y = df['salary']

In [112]:
def convert(x):
    dict = {'two':2,'three':3,'five':5,'seven':7,'ten':10,'eleven':11, 0:0}
    return dict[x]

In [113]:
X['experience'] = X['experience'].apply(lambda x: convert(x))

In [114]:
X.head()

   experience  test_score  interview_score
0           0         8.0                9
1           0         8.0                6
2           5         6.0                7
3           2        10.0               10
4           7         9.0                6

In [115]:
from sklearn.linear_model import LinearRegression

In [116]:
reg = LinearRegression()

In [117]:
reg.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [120]:
ypred = reg.predict(X)

In [121]:
y

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary, dtype: int64

In [123]:
from sklearn.metrics import r2_score
r2_score(ypred,y)

0.9626511210293307

In [131]:
reg.predict([[1,0,1]])

array([22261.93967098])

In [134]:
pickle.dump(reg, open('model.pkl','wb'))

In [135]:
model2 = pickle.load(open('model.pkl','rb'))
model2.predict([[14,19,10]])

array([115139.78263893])